
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Page Inner -->
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <!--table start-->
        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customers</h5>

                        <table class="display" id="usertable">
                            <thead>
                                <tr>
                                    <th >Name</th>
                                    
                                    <th >Email Address</th>
                                    <th >Phone Number</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zeeshan</td>

                                    <td>zeeshu@gmail.com</td>
                                    <td>01234576878</td>
                                    <td>pakistan</td>

                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper -->
</div>
<!-- /Page Inner -->