
@{
    ViewBag.Title = "FreightUserListingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Inner -->
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <!--table start-->
        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>

                        <table class="display" id="usertable">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">User Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zeeshan</td>
                                    <td>Zeeshu</td>
                                    <td>zeeshu@gmail.com</td>
                                    <td>01234576878</td>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <td>eeshan</td>
                                    <td>eeshu</td>
                                    <td>eeshu@gmail.com</td>
                                    <td>0123476878</td>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <td>peeshan</td>
                                    <td>eeshu</td>
                                    <td>eeshu@gmail.com</td>
                                    <td>0123457678</td>
                                    <td>manager</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper -->
</div>
<!-- /Page Inner -->